@font-face {
    font-family: LivvicRegular;
    src: url('./Fonts/Livvic/Livvic-Regular.ttf');
}

@font-face {
    font-family: LivvicBold;
    src: url('./Fonts/Livvic/Livvic-Bold.ttf');
}

:root {
    --my-blue: #0097CC;
    --my-yellow: #FFCE25;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-family: 'LivvicRegular', monospace;
    font-size: 20px;
    height: 100%;
}

.main-container {
    min-height: 95vh;
    /* will cover the 100% of viewport */
    display: block;
}



/* Header css */
.header-container {
    position: sticky;
    z-index: 2;
    top: 0%;
    height: 10vh;
    min-height: 60px;
    max-height: 100px;
    background-color: var(--my-yellow);
    padding: 5px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: fit-content;
}

.logo:hover {
    cursor: pointer;
}

.cart-container {
    align-items: center;
    width: fit-content;
}

.cart-container:hover {
    cursor: pointer;
}

.cart-container>span {
    display: none;
}



/* Sidebar css */
.cart-sidebar-container-passive {
    background-color: white;
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0%;
    right: -100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 3;
}

.cart-sidebar-container-active {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 3;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.cart-sidebar-title-container {
    display: flex;
    margin: 30px 30px;
    justify-content: space-between;
}

.cart-sidebar-title {
    font-family: 'LivvicBold', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-sidebar-title-img {
    margin-right: 10px;
}

.cart-sidebar-exit {
    cursor: pointer;
}

.order-card-container {
    background-color: rgba(242, 242, 242, 1);
    height: 150px;
    margin: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
}

.order-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 0px 0px 6px;
}

.order-card-desc-container {
    display: grid;
    height: fit-content;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.order-card-title-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: center;

}

.order-card-title {
    color: var(--my-blue);
    font-family: 'LivvicBold', monospace;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.order-card-remove-btn {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
}

.order-card-remove-img {
    cursor: pointer;
}

.order-card-bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.order-card-dropdown {
    position: relative;
    display: inline-block;
}

.order-card-dropdown-btn {
    background-color: white;

    height: 45px;
    width: 60px;
    padding: 11px 13px 11px 13px;

    color: black;
    border: 1px solid var(--my-blue);
    border-radius: 6px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.order-card-dropdown-items-list {
    position: absolute;
    width: 100%;
    z-index: 1;

    background: white;
    padding: 5px 15px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.order-card-dropdown-item {
    color: black;
    padding: 0px 10px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(127, 127, 127, 0.3);
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.order-cart-bottom-price-container {
    display: flex;
    align-items: baseline;
}

.order-card-bottom-price {
    font-family: 'LivvicBold', monospace;
    font-size: 1.2em;
    margin-right: 5px;
}

.order-card-eur {
    font-size: 0.8em;
}

.cart-sidebar-subtotal-container {
    margin-left: 20px;
    margin-top: 40px;
    font-family: 'LivvicBold', monospace;
    display: flex;
    flex-direction: column;
}

.cart-sidebar-subtotal-text {
    font-size: 0.7em;
    color: rgba(127, 127, 127, 1);
}

.cart-sidebar-subtotal {
    font-size: 1.4em;
    margin-right: 5px;
}

.cart-sidebar-checkout-btn-container {
    background-color: var(--my-blue);
    margin: 50px 20px 0px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: white;
    font-family: 'LivvicBold';
    cursor: pointer;
}



/* Footer css */
.footer-container {
    background-color: rgba(127, 127, 127, 0.1);
    color: #7F7F7F;

    height: 50px;
    font-size: 15px;

    display: flex;
    align-items: center;
    padding-left: 6vw;

    bottom: 0%;
}



/* Home css */
.home-container {
    padding: 30px 20px;
}



/* Dropdown css */
.dropdown-or-list-filter-menu-list {
    display: none;
}

.dropdown-container {
    margin-bottom: 15px;
    margin-left: 10px;
}

.dropdown-btn {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    vertical-align: middle;
    width: fit-content;
}

.dropdown-btn:hover {
    cursor: pointer;
}

.dropdown-title {
    font-family: "LivvicBold";
    font-size: 20px;
    color: var(--my-blue);
    margin-left: 10px;
}

.menu {
    background: white;
    padding: 5px 15px;
    margin-top: 15px;

    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);

    position: absolute;
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 2px solid rgba(0, 151, 204, 0.3);
    cursor: pointer;
    font-size: 20px;
    margin: 5px 0px;
}



/* Workshopslist css */
.workshopslist-title-container {
    margin-bottom: 20px;
    margin-left: 20px;
}

.workshopslist-title {
    font-family: 'LivvicBold';
    font-size: 32px;
}

.workshopslist-title-desc {
    font-family: 'LivvicBold';
    font-size: 14px;
    color: #7F7F7F;
}

.workshopslist-title-num {
    font-family: 'LivvicBold';
    font-size: 14px;
}

.workshopslist-container {
    display: grid;
    grid-template-columns: 1fr;
}


/* Workshopcard css */
.workshopcard-container {
    max-height: 200px;
    background-color: white;

    border-radius: 10px;
    border: 1px solid rgba(127, 127, 127, 0.3);
    overflow: hidden;

    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 30px;
}

.workshopcard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.workshopcard-desc-container {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: inherit;
}

.workshopcard-date-and-time {
    font-size: 0.9rem;
    font-family: 'LivvicBold', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.workshopcard-date {
    display: flex;
    align-items: center;
}

.workshopcard-date>img {
    margin-right: 5px;
    width: 1rem;
}

.workshopcard-time {
    display: flex;
    align-items: center;
}

.workshopcard-time>img {
    margin-right: 5px;
    width: 1rem;
}

.workshopcard-title {
    font-family: 'LivvicBold';
    color: var(--my-blue);
    font-size: 1.1rem;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

.workshopcard-title:hover {
    text-decoration: none;
    color: var(--my-blue);
}

.workshopcard-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workshopcard-price-holder {
    font-family: 'LivvicBold';
    font-size: 1.3rem;
}

.workshopcard-eur {
    font-size: 0.9rem;
}

.workshopcard-cart-btn {
    background-color: var(--my-yellow);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



/* WorkshopDetailPage css */
.workshopdetailpage-container {
    padding: 20px;
}

.workshopdetailpage-back-btn-container {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'LivvicBold', monospace;
}

.workshopdetailpage-back-text {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.workshopdetailpage-back-text:hover {
    text-decoration: none;
    color: black;
}

.workshopdetailpage-back-img {
    margin-right: 10px;
    object-fit: cover;
}

.workshopdetailpage-description-container {
    width: 100%;
}

.workshopdetailpage-image-container {
    width: 100%;
}

.workshopdetailpage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workshopdetailpage-date-and-time-container {
    font-size: 0.9rem;
    font-family: 'LivvicBold', monospace;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.workshopcard-date {
    margin-right: 30px;
}

.workshopdetailpage-title {
    color: var(--my-blue);
    font-family: 'LivvicBold', monospace;
    font-size: 36px;
    margin-bottom: 20px;
}

.workshopdetailpage-author-with {
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-size: 14px;
}

.workshopdetailpage-author {
    font-size: 19px;
    margin-left: 5px;
}

.workshopdetailpage-description {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.workshopdetailpage-similar-workshops-container {
    background-color: rgba(242, 242, 242, 1);
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workshopdetailpage-similar-workshops-title {
    font-family: 'LivvicBold', monospace;
    font-size: 32px;
}

.workshopdetailpage-buy-ticket-container {
    background-color: white;
    bottom: 0px;
    position: sticky;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0px 0px 10px rgba(127, 127, 127, 0.3);
}

.bigger-buy-ticket-container {
    display: none;
}

.workshopdetailpage-buy-ticket-btn {
    width: 140px;
    height: 45px;
    background-color: var(--my-yellow);
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 4px 8px rgba(13, 13, 13, 0.15);
    border-radius: 8px;

    cursor: pointer;
}




@media screen and (min-width: 1024px) {

    /* Header css */
    .cart-container {
        display: flex;
        align-items: center;
    }

    .cart-container>span {
        display: inline-block;
        margin-left: 20px;
    }

    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .dropdown-or-list-filter-menu-dropdown {
        display: none;
    }

    .dropdown-or-list-filter-menu-list {
        display: block;
    }


    /* FilterList css */
    .filter-list-container {
        margin-top: 40px;
        margin-left: 40px;
        position: fixed;
    }

    .filter-list-title {
        font-size: 14px;
        font-family: 'LivvicBold', monospace;
        color: #7F7F7F;
        margin-bottom: 30px;
    }

    .filter-list-item {
        font-size: 20px;
        font-family: 'LivvicBold', monospace;
        margin-bottom: 10px;
        width: fit-content;
    }

    .active-filter {
        color: var(--my-blue);
        font-size: 20px;
        font-family: 'LivvicBold', monospace;
        margin-bottom: 10px;
        cursor: default
    }

    .filter-list-item:hover {
        cursor: pointer;
    }



    /* WorkshopCard css */
    .workshopslist-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .workshopcard-container {
        max-height: 450px;

        border-radius: 10px;
        border: 1px solid rgba(127, 127, 127, 0.3);

        grid-template-rows: 40% 60%;
        grid-template-columns: 1fr;
    }




    /* Sidebar css */
    .cart-sidebar-container-active {
        width: 25vw;
    }

    .cart-sidebar-container-passive {
        width: 25vw;
    }



    /* WorkshopDetailPage */
    .workshopdetailpage-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .workshopdetailpage-back-btn-container {
        width: fit-content;
    }

    .workshopdetailpage-image-container {
        max-height: 40vh;
        border-radius: 6px;
        overflow: hidden;
    }

    .workshopdetailpage-description-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .workshopdetailpage-back-img {
        object-fit: scale-down;
        height: 100%;
        width: 100%;
    }

    .workshopdetailpage-info-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 100px;
        margin-right: 20px;
    }

    .workshopdetailpage-date-and-time-container {
        margin-top: 0px;
    }

    .workshopdetailpage-title {
        font-size: 60px;
    }

    .workshopdetailpage-author-with {
        font-size: 18px;
    }

    .workshopdetailpage-author {
        font-size: 27px;
    }

    .workshopdetailpage-description {
        font-size: 18px;
    }

    .workshopdetailpage-buy-ticket-container {
        display: none;
    }

    .bigger-buy-ticket-container {
        width: 360px;
        height: 320px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding: 40px;
        border-radius: 6px;
        box-shadow: 0px 0px 10px rgba(127, 127, 127, 0.3);
    }

    .workshopdetailpage-buy-ticket-title {
        font-size: 23px;
        font-family: 'LivvicBold', monospace;
    }

    .workshopdetailpage-price {
        font-size: 40px;
    }

    .workshopdetailpage-eur {
        font-size: 23px;
    }

    .workshopdetailpage-buy-ticket-bottom-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .workshopdetailpage-similar-workshops-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .workshopdetailpage-similar-workshops {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }



}