@font-face {
    font-family: LivvicRegular;
    src: url('./Fonts/Livvic/Livvic-Regular.ttf');
}

@font-face {
    font-family: LivvicBold;
    src: url('./Fonts/Livvic/Livvic-Bold.ttf');
}

:root {
    --my-blue: #0097CC;
    --my-yellow: #FFCE25;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-family: 'LivvicRegular', monospace;
    font-size: 20px;
    height: 100%;
}

.main-container {
    min-height: 95vh;
    /* will cover the 100% of viewport */
    display: block;
}



/* Header css */
.header-container {
    position: sticky;
    overflow: hidden;
    top: 0%;
    height: 10vh;
    min-height: 60px;
    max-height: 100px;
    background-color: var(--my-yellow);
    padding: 5px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: fit-content;
}

.logo:hover {
    cursor: pointer;
}

.cart-container {
    align-items: center;
    width: fit-content;
}

.cart-container:hover {
    cursor: pointer;
}

.cart-container>span {
    display: none;
}



/* Footer css */
.footer-container {
    background-color: rgba(127, 127, 127, 0.1);
    color: #7F7F7F;

    height: 50px;
    font-size: 15px;

    display: flex;
    align-items: center;
    padding-left: 6vw;

    bottom: 0%;
}



/* Home css */
.home-container {
    padding: 30px 20px;
}



/* Dropdown css */
.dropdown-container {
    margin-bottom: 15px;
    margin-left: 10px;
}

.dropdown-btn {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    vertical-align: middle;
    width: fit-content;
}

.dropdown-btn:hover {
    cursor: pointer;
}

.dropdown-title {
    font-family: "LivvicBold";
    font-size: 20px;
    color: var(--my-blue);
    margin-left: 10px;
}

.menu {
    background: white;
    padding: 5px 15px;
    margin-top: 15px;

    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);

    position: absolute;
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 2px solid rgba(0, 151, 204, 0.3);
    cursor: pointer;
    font-size: 20px;
    margin: 5px 0px;
}



/* Workshopslist css */
.workshopslist-title-container {
    margin-bottom: 20px;
    margin-left: 20px;
}

.workshopslist-title {
    font-family: 'LivvicBold';
    font-size: 32px;
}

.workshopslist-title-desc {
    font-family: 'LivvicBold';
    font-size: 14px;
    color: #7F7F7F;
}

.workshopslist-title-num {
    font-family: 'LivvicBold';
    font-size: 14px;
}



/* Workshopcard css */
.workshopcard-container {
    max-height: 200px;

    border-radius: 10px;
    border: 1px solid rgba(127, 127, 127, 0.3);
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 30px;
}

.workshopcard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.workshopcard-category-icon {
    z-index: 2;
    position: absolute;

}

.workshopcard-desc-container {
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: inherit;
}

.workshopcard-date-and-time {
    font-size: 0.9rem;
    font-family: 'LivvicBold', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.workshopcard-date {
    display: flex;
    align-items: center;
}

.workshopcard-date>img {
    margin-right: 5px;
    width: 1rem;
}

.workshopcard-time {
    display: flex;
    align-items: center;
}

.workshopcard-time>img {
    margin-right: 5px;
    width: 1rem;
}

.workshopcard-title {
    font-family: 'LivvicBold';
    color: var(--my-blue);
    font-size: 1.1rem;
}

.workshopcard-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workshopcard-price-holder {
    font-family: 'LivvicBold';
    font-size: 1.3rem;
}

.workshopcard-eur {
    font-size: 0.9rem;
}

.workshopcard-cart-btn {
    background-color: var(--my-yellow);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}